@keyframes show {
  0% {
    transform: translate(-50%, 100%);
  }

  12.5% {
    transform: translate(-50%, 0);
  }

  87.5% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 100%);
  }
}

@keyframes high-score {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  12.5% {
    opacity: 1;
    transform: scale(1);
  }

  87.5% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes body-animation {
  0% {
    background-position:
      90% bottom,
      left 103%;
  }

  50% {
    background-position:
      right bottom,
      left bottom;
  }

  100% {
    background-position:
      90% bottom,
      left 103%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
