@keyframes show {
  0% {
    transform: translate(-50%, 100%);
  }

  12.5% {
    transform: translate(-50%, 0);
  }

  87.5% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 100%);
  }
}
